.exif-container {
  position: relative;

  .exif-metabar {
    background: rgba(0, 0, 0, .5);
    bottom: 0;
    padding: .5em 0;
    position: absolute;
    width: 100%;

    span {
      color: white;
      font-style: italic;
      margin: 0 1em;
    }
  }
}
